<footer class="footer">
  <div class="footer__left">
    <div class="logo"><a class="navbar-brand" routerLink="/">IT Newspaper</a></div>
  </div>
  <div class="footer__right">
    <p class="text">Follow Us:</p>
    <ul class="list-icon">
      <li class="list-icon__item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
      <li class="list-icon__item"><a href=""><i class="fab fa-instagram"></i></a></li>
      <li class="list-icon__item"><a href=""><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
</footer>
