<div class="box">
  <div class="box__title"><p style="margin: 0;">Update Password</p></div>
  <form #changePasswordForm="ngForm" (ngSubmit)="changePasswordAccount(changePasswordForm)">
      <div class="form-group col-md-12">
        <label for="inputPassword4">Old Password</label>
        <input type="password" class="form-control" id="inputPassword4" name="oldPassWord" placeholder="Password" ngModel ngModel>
      </div>
      <div class="form-group col-md-12">
        <label for="inputPassword5">New Password</label>
        <input type="password" class="form-control" id="inputPassword5" name="newPassWord" placeholder="Password" ngModel>
      </div>
      <div class="form-group col-md-12">
        <label for="inputPassword6">Retype Password</label>
        <input type="password" class="form-control" id="inputPassword6" name="retypePassWord" placeholder="Password" ngModel>
      </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
